html, body {
    height: 100%;
}

.flex-containter {
    display:flex;
    flex-wrap: nowrap;
    min-height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 150px;
    background:black;
}

.menu-item {
    display: flex;
    align-items: flex-end;
    flex-grow: 0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-bottom-color: white;
    height: 50px;
}

.menu-item:hover {
    background-color: gray;
}

.menu-item-text {
    padding-right: 4px;
    text-align: right;
    font-family: Arial;
    font-size: 16px;
    line-height: 150%;
    color: white;
    width: 100%;
}

.page {
    flex-grow: 0;
    width: 850px;
}

.km-header {
    height: 100px;
    width: 1000px;
    background-color: black;
    background:
        linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0)),
        url("images/utdallas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 2px;
}

.km-header-title {
    font-size: 36px;
    font-weight: bold;
    flex: 50%;
    margin: 5px;
}

.km-header-name {
    flex: 50%;
    text-align: right;
    font-size: 20px;
    margin: 10px;
}

.default-page {
    text-align: center;
    font-size: 24px;
}